@font-face {
    font-family: 'elisardtsemibold';
    src: url('../fonts/elisardt-semibold-webfont.woff2') format('woff2'),
         url('../fonts/elisardt-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'elisardtlight';
    src: url('../fonts/elisardt-light-webfont.woff2') format('woff2'),
         url('../fonts/elisardt-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'elisardtregular';
    src: url('../fonts/elisardt-regular-webfont.woff2') format('woff2'),
         url('../fonts/elisardt-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}