#dvLogin {
	margin:30px 0;
}
// custom checkbox
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: transparent;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  // content: '\2713';
  content: '';
  width:20px;
  height:21px;
  background-image:url('../img/troo-checkmark.png');
  background-size:contain;
  position: absolute;
  top: -4px;
  left: 6px;
  font-size: 22px;
  line-height: 0.8;
  color: $primary-cta;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #ffffff;
  background-color: $secondary-bg;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  // border: 2px dotted blue;
}

/* hover style just for information */
// label:hover:before {
//   border: 2px solid #4778d9!important;
// }



// custom upload file input
.text-right {
	.error {
		right:0;
	}
}
small#t_and_c-error {
	
	    position: relative;
	    margin: 0 auto;
	    display: block;
	    bottom: 0;
	
}


.js .inputfile {
	background:red;
    // width: 0.1px;
    // height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label, .downloadfile {
	color:$primary-cta;
    max-width: 80%;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    @media (min-width: $screen-sm-min) {
    	position:absolute;
	    right: 20px;
	    top: 33%;
	}
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label, .downloadfile:focus {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg, .downloadfile svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-left: 0.25em;
    /* 4px */
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover, .downloadfile:hover {
	text-decoration:none;
    color:$primary-darker;
}


// custom radio button

input[type="radio"].trooradio {
    display:none;
}
input[type="radio"].trooradio + label {
	margin:0 8px 20px 0;
}
input[type="radio"].trooradio + label span {
    border:4px solid #2E1A47;
    box-shadow: 0px 0px 1px $primary-cta;
 
    display:inline-block;
    width:22px;
    height:22px;
    margin:-2px 8px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"].trooradio + label span {
     background-color:$secondary-bg;
}

input[type="radio"].trooradio:checked + label span{
     background-color:$primary-cta;
}

input[type="radio"].trooradio + label span,
input[type="radio"].trooradio:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}

// stepped form
.stepped-form {

	.input-section {
		position:relative;
		input {
			font-size:16px;
			width:100%;
			background-color:transparent;
			padding:12px;
		}
		label {
			z-index: -1;
		}
	}

	.on label.for-input {
		font-size:12px;
		top:-18px;
		margin-left:0px;
		color:#ffffff;
	}
}

.form-group {
	// position:relative;
	padding:10px 0;

}
	
input {
	z-index:2;
	font-family: inherit;
	letter-spacing:inherit;
}

label {
}
label.for-input {
	display:block;
	font-size:16px;
	color:#88828F;
	font-weight:100;
	margin-left:10px;
	// z-index:1;
	left:0;
	top:12px;
	position:absolute;
	-webkit-transition: top .2s ease,font-size .2s ease, margin .2s ease;
    transition: top .2s ease,font-size .2s ease, margin .2s ease;
}

small.error {

}
input.valid {
		background-image:url('../img/validated.png');
		background-repeat:no-repeat;
		background-position:97% center;
		background-size:30px;

}
input.form-control {
	width:auto;
	height:auto;
	&:focus {
		box-shadow:none;
	}
}
input.error-feedback.error {
	border-color:$callout;
}

small.error-feedback.error {
	color:$callout;
	font-size:12px;
	position:absolute;
	left:0;
	bottom:-18px;
    z-index: -1;
}

table {
	small.error-feedback.error {
		right:0;
		top:8px;
	}
}

.block-feedback {
	small.error-feedback.error {
		bottom:0;
		left:0;
		position:relative;
		display:block;
	}
}

.error-feedback {
	margin:0;

}


form {
	table {
		margin:30px 0;
	}
	@media (max-width: $screen-xs-max) {
		td, th {
	        display: block;
	    }

	    td[data-th]:before  {
	        content: attr(data-th);
	    }
	}

}
.file-cta {

	.error {
		right: 0;
    left: initial;
	}
	position:relative;
	@media (max-width: $screen-xs-max) {
		margin-bottom:20px;
	}
   min-width: 200px;
   @media (min-width: $screen-sm-min) {max-width: 200px;}
}

#frmLogin-2, #frmLogin-3, #frmLogin-4 {
	display:none;
	opacity:0;
}


.cta-area.dotted-border {
	border-top:1px dashed #ffffff;
	// border-width:5px;  
    // border-style:dotted;
}


div.table {
	display:block;
	@media (min-width: $screen-sm-min) {display:table;}

	.tr.rows {
		&:last-child {
			border-bottom:1px solid white;
		}
		// width:100%;
		border-top:1px solid white;
		// margin-bottom:0;
		// float:left;
	}

	.td {
		@media (min-width: $screen-sm-max) {padding:20px;display:block;width:100%;}
		@media (min-width: $screen-sm-min) {display:table-cell;width:100%;}
	}
}