$primary-cta:					#6BBBAE;
$primary-darker:				darken($primary-cta, 13.5%);

$secondary-bg:					#2E1A47;

$callout:						red;


$font-size-base:          18px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.1)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
// $line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
// $line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
// $headings-font-family:    inherit !default;
// $headings-font-weight:    500 !default;
// $headings-line-height:    1.1 !default;
$headings-color:          	#ffffff;
$text-color: 				#ffffff;


$btn-primary-bg:             	$primary-cta;



$link-color:					$primary-cta;




// Forms

$input-padding-x:                0.75rem;
$input-padding-y:                .75rem;
$input-line-height:              1.25;

$input-border:                   #88828F;
$input-border-focus: 			#ffffff;
$input-color:					#ffffff;

// $input-border-radius:            1rem;
// $input-border-radius-large:      $border-radius-large !default;
// $input-border-radius-small:      $border-radius-small !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: "elisardtregular", Tahoma, Verdana, Segoe, sans-serif;
// $font-family-base:       $font-family-sans-serif !default;



// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.


$btn-border-radius-base:              2em;
$btn-border-radius-small:        	$btn-border-radius-base;
